* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  scroll-behavior: smooth;
}
:root {
  --text-color:rgb(255, 255, 255);
  --background-color:#000000;
  --accent-color:rgb(255, 0, 170);
}

.navbar {
  background: var(--background-color);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar_logo {
  display: flex;
  align-items: center;  
}

.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar_item {
  height: 80px;
}

.navbar_links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #fff;
  background: -webkit-linear-gradient(to right,#98c5f8,#59b8f8,#2f89ff);
  background: linear-gradient(to right,#98c5f8,#59b8f8,#2f89ff);
  color:#fff;
  transition: all 0.3s ease;
}

.navbar_links:hover {
  color: #70abf8;
  transition: all 0.3s ease;  
}



@media  screen and (max-width: 767px) {
  .navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar_menu{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;    
  }

  .navbar_menu.active{
    background: var(--background-color);
    top:100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar_logo {
    padding-left: 25px;
  }

  .navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar_item {
    width: 100%;
  }

  .navbar_links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar_btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top:20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar_toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
}

/******Main Chara***********/
.hero{
  background: var(--background-color);
  background: linear-gradient(to right, #161616, #000000);
  padding: 10rem 0; 
}

.hero_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;

}

.col-1{
  flex-basis: 20%;
  position: relative;
  margin-left: 20px;
}

.col-1 h2{
  font-size: 48px;  
  font-weight: 700;
  margin: 20px 0 10px;
  background-color: #7797ff;
  background-image: linear-gradient(to top, #089cff 0%, #ade1ff 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.col-1 h3{
  font-size: 28px;  
  font-weight: 700;
  background-color: #77faff;
  background-image: linear-gradient(to top, #7ff5fd9f 0%, #ade1ff 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin: 20px 0 10px;
}
.col-1 p{
  font-size: 16px;  
  font-weight: 500; 
  background-color: #cffdff;
  background-image: linear-gradient(to top, #7fb1fd9f 0%, #6496b3 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;  
}

/*좌측bar*/
.col-1::after{
  content: '';
  width: 8px;
  height: 60%;
  background: linear-gradient(#4696ff, #375fcc) ;
  position: absolute;
  left: -20px;
  top: 20px;
}
/*witch chara*/
.col-2 {
  margin: 10px;
  height: 480px;
  width: 327px;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

/*******particle animate start************************/
.glowing{  
  position: absolute;
  min-width: 700px;
  height: 700px;
  margin: -100px;
  transform-origin: center;
  animation: colorChange 5s linear infinite;
  top: 40%;
  right: 30%;  
}
.glowing:nth-child(even){
  transform-origin: center;
}
@keyframes colorChange{
  0%{
    filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
    transform: rotate(360deg);
  }

}

.glowing span{
  position: absolute;
  top: calc(100px *var(--i));
  left: calc(80px *var(--i));
  bottom: calc(300px *var(--i));
  right: calc(80px *var(--i));
}

.glowing span:before{
  content: '';
  position: absolute;
  top: 50%;
  left: -8px;
  width: 15px;
  height: 15px;
  background: #f00;
  border-radius: 50%;
}

.glowing span:nth-child(3n + 1):before{
  background: rgba(134,255,0,1);
  box-shadow: 0 0 20px rgba(134,255,0,1),
              0 0 40px rgba(134,255,0,1),
              0 0 60px rgba(134,255,0,1),
              0 0 80px rgba(134,255,0,1),
              0 0 0 8px rgba(134,255,0, .1);
}
.glowing span:nth-child(3n + 2):before{
  background: rgba(255,214,0,1);
  box-shadow: 0 0 20px rgba(255,214,0,1),
              0 0 40px rgba(255,214,0,1),
              0 0 60px rgba(255,214,0,1),
              0 0 80px rgba(255,214,0,1),
              0 0 0 8px rgba(255,214,0, .1);
}
.glowing span:nth-child(3n + 3):before{
  background: rgba(0,226,255,1);
  box-shadow: 0 0 20px rgba(0,226,255,1),
              0 0 40px rgba(0,226,255,1),
              0 0 60px rgba(0,226,255,1),
              0 0 80px rgba(0,226,255,1),
              0 0 0 8px rgba(0,226,255, .1);
}


.glowing span:nth-child(3n + 1){
  animation: animate 10s alternate infinite;
}

.glowing span:nth-child(3n + 2){
  animation: animate-reverse 3s alternate infinite;
}

.glowing span:nth-child(3n + 3){
  animation: animate 8s alternate infinite;
}

/***********glowing2 start******************************/
.glowing2{ 
 
  position: absolute;
  min-width: 700px;
  height: 700px;
  margin: -100px;
  transform-origin: center;
  animation: colorChange 5s linear infinite;
  top: 30%;
  left: 30%; 
  
}
.glowing2:nth-child(even){
  transform-origin: center;
}
.glowing2 span{
  position: absolute;
  top: calc(100px *var(--i));
  left: calc(80px *var(--i));
  bottom: calc(300px *var(--i));
  right: calc(80px *var(--i));
}

.glowing2 span:before{
  content: '';
  position: absolute;
  top: 50%;
  left: -8px;
  width: 15px;
  height: 15px;
  background: rgb(107, 187, 253);
  border-radius: 50%;
}

.glowing2 span:nth-child(3n + 1):before{
  background: rgba(216, 81, 250);
  box-shadow: 0 0 20px rgb(216, 81, 250),
              0 0 40px rgba(216, 81, 250),
              0 0 60px rgba(216, 81, 250),
              0 0 80px rgba(216, 81, 250),
              0 0 0 8px rgba(216, 81, 250, .1);
}
.glowing2 span:nth-child(3n + 2):before{
  background: rgba(109, 245, 222);
  box-shadow: 0 0 20px rgb(109, 245, 222),
              0 0 40px rgba(109, 245, 222),
              0 0 60px rgba(109, 245, 222),
              0 0 80px rgba(109, 245, 222),
              0 0 0 8px rgba(109, 245, 222, .1);
}
.glowing2 span:nth-child(3n + 3):before{
  background: rgba(0,226,255,1);
  box-shadow: 0 0 20px rgba(0,226,255,1),
              0 0 40px rgba(0,226,255,1),
              0 0 60px rgba(0,226,255,1),
              0 0 80px rgba(0,226,255,1),
              0 0 0 8px rgba(0,226,255, .1);
}


.glowing2 span:nth-child(3n + 1){
  animation: animate 10s alternate infinite;
}

.glowing2 span:nth-child(3n + 2){
  animation: animate-reverse 7s alternate infinite;
}

.glowing2 span:nth-child(3n + 3){
  animation: animate 4s alternate infinite;
}

@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes animate-reverse{
  0%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
/********************animate end**************************************/

@media  screen and (max-width: 767px){
  .hero_container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  } 
  
}

/*********About Section Style**************/
.main {
  background-color: #131313;
  padding: 10rem 0;  
}

.main_container {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main_content {
  color: var(--text-color);
  width: 100%;
}

.main_content h2 {
  font-size:2rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main_content p{
  font-size: 16px;  
  font-weight: 500;
  background-color: #fccac6;
  background-image: linear-gradient(to top, #ff58db 0%, #fad6f4 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent; 
}

.cer {  
  margin-top: 5%;
  display: flex;
  /*flex-wrap: wrap; /*이미지가 많아질 경우*/
  justify-content: space-between;
  padding: 20px 80px;
}

.about-col img{
  max-width: 100%;  
}

.about-col {
  flex-basis: 33.3333%;
  padding-left: 20px;
  padding-right: 20px;
}

@media  screen and (max-width: 767px){
  .cer {
    flex-direction: column;
  } 
  
}

/******Footer Section Style*********/
.footer {
  background-color: #131313;
  width: 100%;
  text-align: center;
  padding: 30px 0;
 
}
.footer p {
  color: var(--text-color);
}